html,
body {
  color: #fefefe;
  font-family: "Pretendard";
  font-weight: 500;
}

::-webkit-scrollbar {
  display: none;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
