html,
body {
  color: #fefefe;
  font-family: "Pretendard";
  font-weight: 500;
}

::-webkit-scrollbar {
  display: none;
}

/* 요소 중앙 정렬, 내부에서 top, left로 요소 위치 조정 가능한 박스 */
.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

/* 1280 크기 화면 */
.regularSection {
  width: 1280px;
  height: 100vh;
  position: relative;
}
