/* Base */
@import "reset.css";
@import "base.css";

/* Fonts */
@import "fonts.css";

/* Components */
@import "components/buttons/exitButton.css";
@import "components/flipImg.css";
@import "components/zoomImg.css";
@import "aos.css";
@import "typed.css";

/* Screens */
@import "screens/mainPage.css";
