@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.ExplainTyped{
    background-color: black;
}

.ExplainTyped-cursor {
    opacity: 0;
    display: none;
}

.ExplainTyped::after {
    position: relative;
    top: 0;
    content: '_';
    display: inline-block;
    animation: blink 0.8s infinite;
}
