@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ExplainTyped::after {
  opacity: 0;
}

.ExplainTyped-cursor {
  opacity: 0;
  display: none;
}

.ExplainTyped::after {
  position: relative;
  top: 0;
  content: "|";
  display: inline-block;
  animation: blink 0.8s infinite;
  animation-delay: 5s;
}
