body {
  background-color: #261f1a;
  height: 300vh;
  position: relative;
}

.exitButton {
  top: 5%;
  right: 16%;
  position: fixed;
  z-index: 1;
}

.mainPageSection1 {
  height: 100vh;
}

.mainPageSection1 .mainLogoImg {
  width: 160px;
}

.mainPageSection1 .mainLogoTxt {
  margin-top: 8px;
  text-align: center;

  font-size: 36px;

  font-family: "Eulyoo 1945";
  font-weight: 600;
}

.mainPageSection1 .mainLogoSubTxt {
  margin-top: 18px;
  text-align: center;

  font-size: 16px;

  font-family: "Eulyoo 1945";
}

.mainPageSection2 {
  height: 96vh;
}

.mainPageSection2 .title {
  font-size: 64px;
  position: absolute;
  top: 20%;
  left: 16%;
}

.mainPageSection2 .mainIntroImg {
  width: 1200px;
  position: absolute;
  top: 15%;
  right: 15%;
  z-index: -1;
}

.mainPageSection3 {
  height: 100vh;
}

.sectionTop {
  height: 82px;
  width: 100%;
  position: absolute;
  left: 5%;
  top: 300px;
}

.sectionTop h2 {
  display: inline;
  font-size: 36px;
  font-weight: 600;
}

.sectionTop div {
  display: inline;
  margin-left: 140px;
  font-size: 18px;
}

.sectionLine {
  width: 90%;
  border-color: #999999;
  border-width: 1px;
}
