body {
  background-color: #261f1a;
  height: 300vh;
  position: relative;
}

/* mainPage base */

.exitButton {
  top: 48px;
  right: 16%;
  position: fixed;
  z-index: 1;
}

.sectionTop {
  height: 82px;
  width: 100%;
  position: absolute;
  left: 5%;
  top: 16px;
}

.sectionTop h2 {
  display: inline;
  font-size: 36px;
  font-weight: 600;
}

.sectionTop div {
  display: inline;
  margin-left: 140px;
  font-size: 18px;
}

.sectionLine {
  width: 90%;
  border-color: #999999;
  border-width: 1px;
}

/* mainPage Sections */

.mainPageSection1 {
  height: 100vh;
}

.mainPageSection1 .mainHeader {
  position: fixed;
  height: 10vh;
  top: 0;
  width: 100%;
  padding: 2.3rem 0 0.5rem;
  z-index: 1;
}

.mainPageSection1 .mainLogoImg {
  width: 160px;
}

.mainPageSection1 .mainLogoTxt {
  margin-top: 8px;
  text-align: center;

  font-size: 36px;

  font-family: "Eulyoo 1945";
  font-weight: 600;
}

.mainPageSection1 .mainLogoSubTxt {
  margin-top: 18px;
  text-align: center;

  font-size: 16px;

  font-family: "Eulyoo 1945";
}

.mainPageSection2 {
  height: 96vh;
}

.mainPageSection2 .mainIntroImg {
  width: 720px;
  position: absolute;
  top: 15%;
  right: 15%;
  z-index: -1;
}

.mainPageSection3 {
  height: 512px;
}

.mainPageSection3 .regularSection .sectionTop {
  left: 50%;
}

.mainPageSection3 .regularSection .mainLogoFrameImg {
  width: 482px;
  position: absolute;
  left: 5%;
  top: 16px;
}

.mainPageSection4 {
  height: 100vh;
}
