body {
  background-color: #261f1a;
  height: 300vh;
  position: relative;
  overflow-x: hidden;
}

/* mainPage base */

.background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
}

.menu {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 500;
}

.exitButton {
  top: 48px;
  right: 16%;
  position: fixed;
  z-index: 1;
}

.sectionTop {
  height: 82px;
  width: 100%;
  position: absolute;
  left: 5%;
  top: 16px;
}

.sectionTop h2 {
  display: inline;
  font-size: 36px;
  font-weight: 600;
}

.sectionTop div {
  display: inline;
  margin-left: 140px;
  font-size: 18px;
}

.sectionLine {
  width: 90%;
  border-color: #999999;
  border-width: 1px;
  margin-top: 64px;
}

.title {
  font-size: 64px;
  font-weight: 600;
}

/* mainPage Sections */

.mainPageSection1 {
  height: 100vh;
}

.mainPageSection1 .mainHeader {
  position: fixed;
  height: 10vh;
  top: 0;
  width: 100%;
  padding: 2.3rem 0 0.5rem;
  z-index: 1;
}

.mainPageSection1 .mainLogoImg {
  width: 160px;
}

.mainPageSection1 .mainLogoTxt {
  margin-top: 8px;
  text-align: center;

  font-size: 36px;

  font-family: "Eulyoo 1945";
  font-weight: 600;
}

.mainPageSection1 .mainLogoSubTxt {
  margin-top: 18px;
  text-align: center;

  font-size: 16px;

  font-family: "Eulyoo 1945";
}

.mainPageSection2 {
  height: 96vh;
  justify-content: center;
}

.mainPageSection2 .mainIntroImg {
  width: 720px;
  position: absolute;
  top: 15%;
  right: 15%;
}

.mainPageSection2 .mainExplain {
  align-items: center;
  display: inline-block;
  top: -37vh;
}
.mainPageSection2 .ExplainTyped {
  font-size: 90px;
  font-family: "Eulyoo 1945";
  font-weight: 400;
}
.mainPageSection3 {
  height: 78vh;
}

.mainPageSection3 .regularSection .sectionTop {
  left: 50%;
}

.mainPageSection3 .regularSection .mainLogoFrameImg {
  width: 482px;
  position: absolute;
  left: 5%;
  top: 16px;
}

.mainPageSection4 {
  height: 2200px;
}

.mainPageSection4 .detailSection:nth-child(3) {
  position: relative;
  top: 0%;
  margin-top: 178px;
  left: 5%;
}

.mainPageSection4 .title {
  position: relative;
  top: 0%;
}

.mainPageSection4 .detailSection p {
  margin-top: 110px;
}

.mainPageSection4 .imageSection p {
  margin-top: 16px;
  font-size: 15px;
  color: #cccccc;
  margin-bottom: 8px;
}

.mainPageSection4 .firstImageSection {
  width: 542px;
  right: 1%;
  top: 396px;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.mainPageSection4 .firstImageSection img {
  width: 542px;
}

.mainPageSection4 .secondImageSection {
  width: 460px;
  left: 1%;
  top: 952px;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.mainPageSection4 .secondImageSection img {
  width: 460px;
}

.mainPageSection4 .thirdImageSection {
  width: 327px;
  right: 5%;
  top: 1400px;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.mainPageSection4 .thirdImageSection img {
  width: 327px;
}

.mainPageSection5 {
  height: 2600px;
}

.mainPageSection5 .detailSection {
  position: absolute;
}

.mainPageSection5 .detailSection h1 {
  font-size: 88px;
  font-family: "Pretendard";
  font-weight: 600;
  margin-bottom: 4px;
}

.mainPageSection5 .detailSection h2 {
  font-size: 36px;
  font-family: "Pretendard";
  font-weight: 600;
  margin-bottom: 48px;
}

.mainPageSection5 .first {
  margin-top: 110px;
  left: 5%;
}

.mainPageSection5 .second {
  margin-top: 600px;
  right: 28%;
}

.mainPageSection5 .third {
  margin-top: 1280px;
  left: 5%;
}

.mainPageSection5 .imageSection p {
  margin-top: 16px;
  font-size: 15px;
  color: #cccccc;
  margin-bottom: 8px;
}

.mainPageSection5 .firstImageSection {
  width: 400px;
  left: 5%;
  top: 500px;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.mainPageSection5 .firstImageSection img {
  width: 400px;
}

.mainPageSection5 .secondImageSection {
  width: 400px;
  right: 5%;
  top: 1000px;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.mainPageSection5 .secondImageSection img {
  width: 400px;
}

.mainPageSection5 .thirdImageSection {
  width: 400px;
  left: 5%;
  top: 1680px;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.mainPageSection5 .thirdImageSection img {
  width: 400px;
}

.mainPageSection6 {
  height: 30vh;
}

.mainPageSection6 img {
  width: 100%;
  height: 30vh;
}
