.menu{
    width: 100%;
    height: 100%;
    
    position: fixed;
    background-color: #261f1a;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
}
.menu .menu-container{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 45%;
    height: 100%;
    font-family: "Eulyoo 1945";
    margin-top: 15%;
    margin-bottom: 20%;
   
}
.menu .menu-left{
    display: flex;
    flex-direction: column;
}
.menu .menu-Txt{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-top: 3vh;
}
.menu .menu-right{
    flex-direction: column;
}
.menu .menu-ul{
    font-size: 62px;
    font-weight: 550;
}
li{
    margin-bottom: 1vw;
}