/* ALL */

.exitButton {
  width: 50px;
  text-align: center;
  position: absolute;
}

.hamburger .line {
  width: 25px;
  height: 2px;
  background-color: #fefefe;
  display: block;
  margin: 4px auto;
  border-radius: 2px;

  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

/* Type 1 */

#hamburgerType1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburgerType1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(45deg);
  -ms-transform: translateY(6px) rotate(45deg);
  -o-transform: translateY(6px) rotate(45deg);
  transform: translateY(6px) rotate(45deg);
}

#hamburgerType1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(-45deg);
  -ms-transform: translateY(-6px) rotate(-45deg);
  -o-transform: translateY(-6px) rotate(-45deg);
  transform: translateY(-6px) rotate(-45deg);
}
